.item {
  cursor: pointer;
  text-align: center;
}

.no-results {
}

.thumbnail {
}

.modal {
  box-sizing: border-box;
  position: absolute;
  background: #000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;

  .close {
    cursor: pointer;
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 1;
  }

  .close:hover {
    opacity: 1;
  }

  .close:before,
  .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: #fff;
  }

  .close:before {
    transform: rotate(45deg);
  }

  .close:after {
    transform: rotate(-45deg);
  }

  .content {
    h1 {
      margin-top: 10vh;
      color: #fff;
    }

    img {
      margin-top: 12vh;
      max-width: 90%;
    }
  }
}
